<a href="https://colab.research.google.com/github/Mr-Hackrr/pySpark/blob/main/schema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=0195a4fc200ec350224b70cfc33f2807ab86b120ef82d8301e6dd6c6887744b5
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [10]:
#Data
data = [(501, "starwars", "2010-10-12 10:30:00", "Cult!", "positive"),
           (502, "fastandfurious", "2022-03-12 11:15:00", "missing cars", "negative"),
           (503, "dune", "2024-01-12 12:00:00", "nice watch", "neutral")]

In [4]:
#Create saprksession as sqlcontext
sqlcontext = SparkSession.builder.appName('pactice').getOrCreate()

In [5]:
from pyspark.sql.types import *

In [18]:
#Create dataframe
#schema as ["userid", "movieId", "time", "review", "sentiment"]
design = ["userid", "movieId", "time", "review", "sentiment"]
# schema = StructType([
#     StructField('userid',StringType(),True),
#     StructField('movieId',StringType(),True),
#     StructField('time',StringType(),True),
#     StructField('review',StringType(),True),
#     StructField('sentiment',StringType(),True)
# ])

In [19]:
df = sqlcontext.createDataFrame(data,schema = design)

In [20]:
df.show()

+------+--------------+-------------------+------------+---------+
|userid|       movieId|               time|      review|sentiment|
+------+--------------+-------------------+------------+---------+
|   501|      starwars|2010-10-12 10:30:00|       Cult!| positive|
|   502|fastandfurious|2022-03-12 11:15:00|missing cars| negative|
|   503|          dune|2024-01-12 12:00:00|  nice watch|  neutral|
+------+--------------+-------------------+------------+---------+

In [22]:
#Find entries with positive setiment
df.filter(df.sentiment == "positive").show()

+------+--------+-------------------+------+---------+
|userid| movieId|               time|review|sentiment|
+------+--------+-------------------+------+---------+
|   501|starwars|2010-10-12 10:30:00| Cult!| positive|
+------+--------+-------------------+------+---------+

In [26]:
df.filter(df.sentiment == "positive").collect()[0][1]

'starwars'

In [32]:
#Find aerage review length
res = df.withColumn('length',expr("len(sentiment)")).agg(avg('length')).collect()[0][0]
res

7.666666666666667

In [33]:
#count sentiments per user
df.groupBy('userid').agg({'sentiment':'count'}).show()

+------+----------------+
|userid|count(sentiment)|
+------+----------------+
|   501|               1|
|   502|               1|
|   503|               1|
+------+----------------+

Q2

In [35]:
#Data
D1 = [(1, 'sample1', 100.0), (2, 'sample2', 2500.0), (3, 'sample3', 190.0)]

In [36]:
#Data
D2 = [(1, 509, 21, 200, 2000), (2, 510, 22, 50, 1000), (3, 511, 23, 100, 3000), (4, 512, 24, 100, 2000)]

In [37]:
#Data
D3= [(108, 'Peter Parker', 'spidey@gmail.com'), (120, 'Bruce Wayne', 'batman@waynecorp.com')]

In [38]:
#Data
D4=  [(1, 108, 4, 'good'), (2, 120, 5, 'nice buy!'), (3, 120, 5, 'gotta buy!')]

In [39]:
#Create datafrma from D1 as userId, name, score
s1 = ['userId','name','score']
df1 = sqlcontext.createDataFrame(D1,schema=s1)
df1.show()

+------+-------+------+
|userId|   name| score|
+------+-------+------+
|     1|sample1| 100.0|
|     2|sample2|2500.0|
|     3|sample3| 190.0|
+------+-------+------+

In [40]:
#Create datafrma from D2 as userId, movieId, watchtime, sentiment_score
s2 = ["userId", "movieId", "watchtime", "sentiment_score"]
df2 = sqlcontext.createDataFrame(D2,schema=s2)
df2.show()

+------+-------+---------+---------------+----+
|userId|movieId|watchtime|sentiment_score|  _5|
+------+-------+---------+---------------+----+
|     1|    509|       21|            200|2000|
|     2|    510|       22|             50|1000|
|     3|    511|       23|            100|3000|
|     4|    512|       24|            100|2000|
+------+-------+---------+---------------+----+

In [41]:
#Create datafrma from D3 as Id, name, contact
s3 = ["Id", "name", "contact"]
df3 = sqlcontext.createDataFrame(D3,schema=s3)
df3.show()

+---+------------+--------------------+
| Id|        name|             contact|
+---+------------+--------------------+
|108|Peter Parker|    spidey@gmail.com|
|120| Bruce Wayne|batman@waynecorp.com|
+---+------------+--------------------+

In [42]:
#Create dataframe from D4 as Id, movieId, rating, review
s4 = ["Id", "movieId", "rating", "review"]
df4 = sqlcontext.createDataFrame(D4,schema=s4)
df4.show()

+---+-------+------+----------+
| Id|movieId|rating|    review|
+---+-------+------+----------+
|  1|    108|     4|      good|
|  2|    120|     5| nice buy!|
|  3|    120|     5|gotta buy!|
+---+-------+------+----------+